@import "../../../assets/scss/colors.scss";

.navbar-background {
  background: transparent
    linear-gradient(91deg, #0146a1 0%, #0077ed 0%, #1e54a2 100%) 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

.navbar-options {
  color: $color-white-1;
}

@media only screen and (max-width: 600px) {
  .transition-navbar {
    transition: 1s;
    animation-duration: 1s;
  }
}
