@import "../../../assets/scss/colors.scss";

// CONTAINER-TOOLOPTIONS
.container-toolOptions {
  background: $color-white-1 0% 0% no-repeat padding-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 14vh;
  justify-content: center;
  opacity: 1;
  text-align: center;
}
// CONTAINER MENU ARRAY OPTIONS
.container-menu-array-options {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: auto;
  cursor: pointer;
}

// CONTAINER MENU ITEM
.container-menu-item {
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-self: center;
  row-gap: 5px;
}

// CONTAINER MENU ITEM IMG
.container-menu-item img {
  align-self: center;
  height: 2rem;
  justify-self: center;
  width: auto;
}

// CONTAINER MENU ITEM P
.container-menu-item p {
  color: $color-black-5;
  font: normal normal bold 16px/16px SF Pro Display;
  letter-spacing: 0px;
}

// HOVER: CONTAINER MENU ITEM P
.container-menu-item p:hover {
  color: $color-green-1;
  cursor: pointer;
  font: normal normal bold 16px/16px SF Pro Display;
  letter-spacing: 0px;
}

.text-toolOption a {
  color: $color-black-2 !important;
}

.text-toolOption-active {
  color: $color-aqua-1 !important;
}

.show-tool-desktop {
}

.show-tool-responsive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container-toolOptions {
    background: $color-white-1 0% 0% no-repeat padding-box;
    display: grid;
    height: 25vh;
    max-height: 35vh;
    justify-items: center;
    align-items: center;
    opacity: 1;
    overflow-y: scroll;
    text-align: center;
  }

  .container-menu-array-options {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    cursor: pointer;
  }
  .show-tool-responsive {
    display: grid;
  }

  .show-tool-desktop {
    display: none;
  }
}
