@import "../../../assets/scss/colors.scss";

.container-copias-certificadas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  margin: 0 2rem 0 2rem;
  row-gap: 1rem;
  grid-template-areas:
    "titulo-copias-certificadas titulo-copias-certificadas titulo-copias-certificadas"
    "opciones-copias-rpp . opciones-copias-agn"
    ". importancia-copias ."
    ". questions-copias .";
  background-color: $color-blue-5;
}

.titulo-copias-certificadas {
  grid-area: titulo-copias-certificadas;
  opacity: 1;
  font-size: 30px;
  text-align: left;
  font: normal normal bold 40px/65px SF Pro Display;
  letter-spacing: 0px;
  opacity: 1;
  text-align: center;
}

.titulo-copias-certificadas P {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, $color-blue-2, $color-aqua-1);
  -webkit-background-clip: text;
}

strong {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, $color-blue-2, $color-aqua-1);
  -webkit-background-clip: text;
}

.opciones-copias-rpp {
  grid-area: opciones-copias-rpp;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  text-align: center;
}

.opciones-copias-rpp h1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
}

.opciones-copias-rpp p {
  font-size: 20px;
  color: $color-blue-6;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.opciones-copias-rpp p:hover {
  color: $color-blue-7;
  font-size: 17px;
  transition: 0.4s;
}

.opciones-copias-agn {
  grid-area: opciones-copias-agn;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  text-align: center;
}

.opciones-copias-agn p {
  font-size: 20px;
  color: $color-blue-6;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.opciones-copias-agn p:hover {
  color: $color-blue-7;
  font-size: 17px;
  transition: 0.4s;
}

.opciones-copias-agn h1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
}

.importancia-copias {
  grid-area: importancia-copias;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}

.importancia-copias P {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0px;
  opacity: 1;
}

.importancia-copias BtnVideoTutorial {
  justify-self: center;
}

.question-copias {
  grid-area: questions-copias;
  display: grid;
  margin: 2rem;
}
